body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Lato", sans-serif;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.titulo-pagina {
  padding-top: 20px;
  padding-left: 15px;
}

.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.side-bar {
  background-color: #f0f0f0;
  border: solid 1px;
  border-color: aliceblue;
}

/* VIEW */
.view-content {
  left: 26%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.view-content-teste {
  position: relative;
  left: 30%;
}

.view-welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-bottom: solid 1px;
}

.view-welcome p {
  font-size: 1.5rem;
  font-weight: bold;
}

.span-border {
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: solid 1px;
}

.span-name {
  font-weight: 700;
}

.formularios input,
select {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: solid 1px;
}

.form-container-setor {
  position: relative;
  left: 50%;
}

/* TELA DE CADASTRO FUNCIONÁRIO */
.form-container {
  border: solid 1px;
  border-color: white;
  border-radius: 10px;
  height: 608px;
  width: 800px;
  background-color: white;
  position: absolute;
  top: 6rem;
}

.form-container h2 {
  padding-bottom: 30px;
  padding-top: 40px;
}

.form-container p {
  padding-bottom: 20px;
}

.form {
  position: absolute;
  left: 6rem;
}

/* TELA DE LISTAR FUNCIONÁRIO */
.listar-funcionarios {
  border: solid 1px;
  border-color: white;
  border-radius: 10px;
  height: 800px;
  width: 800px;
  background-color: white;
  position: absolute;
}

#lista-funcionarios {
  position: absolute;
  left: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#lista-funcionarios input {
  height: 35px;
  border-radius: 10px;
  border: solid 1px;
  text-align: center;
}

.att {
  border: solid 1px;
  border-radius: 10px;
  background-color: cornflowerblue;
  margin-top: 2px;
  color: white;
}

.remove {
  border: solid 1px;
  border-radius: 10px;
  background-color: red;
  margin-top: 2px;
  color: white;
}

.butttons button:first-of-type {
  border: solid 1px;
  border-radius: 10px;
  background-color: red;
  margin-top: 2px;
  color: white;
}

/* TELA DE LISTAR SETORES */

.form-container-setor {
  border: solid 1px;
  border-color: white;
  border-radius: 10px;
  height: 608px;
  width: 800px;
  background-color: white;
  position: absolute;
  top: 6rem;
}

#listar-setores {
  display: inline-flex;
  gap: 1rem;
  padding-top: 10px;
}

#listar-setores input {
  height: 35px;
  border: solid 1px;
  border-radius: 10px;
  text-align: center;
}

/* TELA DE CADASTRAR FOLHA */

.tituloo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 56px;
  margin-top: 10px;
}

#listar-folhas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#listar-folhas input {
  height: 35px;
  border: solid 1px;
  border-radius: 10px;
  text-align: center;
}

.containerLabels {
  display: flex;
  gap: 6rem;
  position: relative;
  left: 157px;
}

.erro-input
{
	color:red;
}

#listar-folha-salario input{
  height: 35px;
  border-radius: 10px;
  border: solid 1px;
  text-align: center;
}

#id-folha-salario input {
  height: 35px;
  border-radius: 10px;
  border: solid 1px;
  text-align: center;
}


.containerLabels2 {
  display: flex;
  gap: 6rem;
  position: relative;
  left: 75px;
}
